.el-quantum-advance-slider-container .swiper-pagination,
.el-quantum-advance-slider-container .swiper-scrollbar{
    position: static;
}
.el-quantum-advance-slider-container .el-quantum-slide{
    height: unset;
}
.el-quantum-advance-slider-container .el-quantum-slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}
.el-quantum-advance-slider-container .el-quantum-slider-btn.el-quantum-prev-btn{
    left: 0;
}
.el-quantum-advance-slider-container .el-quantum-slider-btn.el-quantum-next-btn{
    right: 0;
}
.el-quantum-slider-btn{
    padding: 13px 25px;
    border-radius: 0;
}
.el-quantum-advance-slider-container .el-quantum-slider-pagination .swiper-pagination-bullet{
    opacity: 1;
}
